---
layout: base.njk
title: Page Not Found
permalink: /404.html
---
<div class="container section narrow">
<div class="panel center">
<p>Sorry, that page doesn't exist.</p>
<a class="button" href="/">Go to the home page</a>
</div>
</div>
